<?xml version='1.0'?>
<model>
  <name>bracket</name>
  <version>1.0</version>
  <sdf version='1.6'>model.sdf</sdf>

  <author>
    <name>Mohamed Abdelkader</name>
    <email>mohamedashraf123@gmail.com</email>
  </author>

  <description>
    A simple bracket to hold sensors over a conveyor belt.
  </description>
</model>
    
